<f:if condition="{settings.wpid}"><script type="text/javascript"><![CDATA[
if (typeof(tw_gat) == 'object') {
	tw_gat.debug(]]>{settings.debug}<![CDATA[)
		.setAccount(']]>{settings.wpid}<![CDATA[')
		.setDomainName(']]>{settings.crossdomain.main}<![CDATA[')
		.setCrossDomains([]]><f:for each="{settings.crossdomain.cross}" as="domain" iteration="iter"><f:if condition="{iter.index}">,</f:if>'{domain}'</f:for><![CDATA[])
		.anonymizeIP(]]>{settings.features.anonymizeIP}<![CDATA[)
		.trackClientInfo(]]>{settings.features.track.client}<![CDATA[)
		.trackFlashVersion(]]>{settings.features.track.flash}<![CDATA[)
		.trackPageTitle(]]>{settings.features.track.title}<![CDATA[)
		.trackExternals(]]>{settings.external.track},'{settings.external.prefix}',<f:format.raw>{settings.external.restrict}</f:format.raw><![CDATA[)
		.trackEmails(]]>{settings.email.track},'{settings.email.prefix}',<f:format.raw>{settings.email.restrict}</f:format.raw><![CDATA[)
		.trackDownloads(]]>{settings.download.track},'{settings.download.prefix}','{settings.download.template}',<f:format.raw>{settings.download.list}</f:format.raw><![CDATA[)
		]]><f:if condition="{settings.enable} == 2"><f:then><![CDATA[.registerCustomDimensionsMetrics(]]><f:format.raw>{customDimensionsMetrics}</f:format.raw><![CDATA[)]]></f:then><f:else><![CDATA[.addDirectKeywords(]]><f:format.raw>{settings.direct.keywords}</f:format.raw><![CDATA[)
		.addDirectReferrers(]]><f:format.raw>{settings.direct.referrers}</f:format.raw><![CDATA[)
		.addSearchEngines(]]><f:format.raw>{settings.searchengines}</f:format.raw><![CDATA[)
		.registerCustomVariables(]]><f:format.raw>{customVariables}</f:format.raw><![CDATA[)]]></f:else></f:if><![CDATA[
		.trackPageview("]]>{pageUrl}<![CDATA[");
	(function(){ var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = '//www.google-analytics.com/]]><f:if condition="{settings.enable} == 2"><f:then>analytics.js</f:then><f:else>ga.js</f:else></f:if><![CDATA['; ga.onload = function() { tw_gat.installTrackingHandlers(2); }; ga.onreadystatechange = function() { if (this.readyState in {'loaded': 1, 'complete': 1}) tw_gat.installTrackingHandlers(2); }; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
}
]]></script></f:if>